.all {
    width: 100vw;
    background: url("../assets/wallpaper.jpg");
    background-size: cover;
    text-align: center;
    padding: 35px;
}

.titulo {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    margin-bottom: 40px;
}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 15px;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 30vw;
    border: 2px #111 solid;
    border-radius: 8px;
    margin: 10px;
}

.escudo {
    width: 45px;
}

.time-home,
.time-vis {
    width: 130px;
    height: 120px;
    text-align: center;
    margin: 12px;
    height: 100%;
    align-items: center;
}