.all {
    width: 100vw;
    height: 100vh;
    background: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 35px;
}

.cabecalho {
    margin-bottom: 20px;
    box-shadow: 2px #111;
}

.ano {
    width: 15vw;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(239, 237, 241, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
    box-shadow: #111 2px;
    border: none;
    text-align: center;
}

.rodada {
    width: 20vw;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(239, 237, 241, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
    box-shadow: #111 2px;
    border: none;
    text-align: center;
}

.btn-consulta {
    border-radius: 8px;
    background: none;
    border: #fff 3px solid;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 5px;
    width: 10vw;
    height: 35px;
    box-shadow: 2px #111;
    color: #fff;
    transition: all ease .5s;
}

.btn-consulta:hover {
    transform: scale(1.1);
}

.titulo {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    margin-bottom: 8px;
}

.anoInicial {
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    padding: 15px;
}

.card {
    background-color: rgba(25, 2, 47, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 21vh;
    border-radius: 8px;
    margin: 7px;
    box-shadow: 2px #111;
    transition: all ease 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.cardCont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 5px;
}

.estadio {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-shadow: #111 2px;
}

.dataJogo {
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    text-shadow: #111 2px;
}

.infos {
    margin: 0%;
}

.card-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 9pt;
    box-shadow: 2px #111;
}

.escudo {
    width: 30px;
    margin-bottom: 3px;
}

.time-home,
.time-vis {
    width: 70px;
    height: 60px;
    text-align: center;
    margin: 12px;
    height: 100%;
    align-items: center;
}

.placar,
.versus {
    color: #fff;
    font-size: 17pt;
    margin: 3px;
}